language: node_js

os:
  - linux
  # - osx

node_js:
  - 10
  - 12
  - 14
  - 16

before_install:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt-get update                ; fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt-get install tesseract-ocr ; fi
  - if [ "$TRAVIS_OS_NAME" = "osx"   ]; then brew update                        ; fi
  - if [ "$TRAVIS_OS_NAME" = "osx"   ]; then brew install tesseract             ; fi
